<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Нужна камера для записи заезда и разметки линии старта-финиша.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Звук записывается вместе с видео заезда.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Разрешите сохранять записанное видео заезда в галерею.</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
